<h1>Graph <small> <%= link_to "View Data", customer_set_path(@customer_set) %> </small> </h1>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h3> Line Chart </h3>

<%= line_chart(@customers.map { |cust| {name: cust.email, data: cust.custom_data } }, discrete: true)%>
