<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<br />
<div class="container well">
  <h3>Email: <small><%= @user.email %></small> </h3>
  <h3>API Key: <small><%= @user.api_key.access_token %></small> </h3>
  <h3>Number of Customers: <small><%= @user.customers.count %></small> </h3>
  <h3>Javascript Drop in: </h3>
  
    <pre> 
    <code>
      var URL = "http://monocular.herokuapp.com/customers/"
      var TOKEN = "<%= @user.api_key.access_token %>"

      window.submit_event = function(custom_data, email) {
      var data = {customer: {custom_data: {
        custom_data
      },
      email: email }};


      /* Example submit event, this will run on the client website
      var data = { total_users: 50,
                   courses_created: 30,
                   courses_started: 200,
                   courses_completed: 80 }
      var email = "test@test.com"
      submit_event(data, email)

      */

      $.ajax({
      url: URL + "?access_token=" + TOKEN,
      data: data,
      type: 'POST'
      });
      }
    </code>
    </pre>
  
  
</div>
